body {
    text-align: center;
}

.btn {
    margin-top: 50px;
    font-weight: 500;
    color: #fff;
    background-color: #0066ff;
    text-align: center;
    vertical-align: center;
    border: none;
    border-radius: 3px;
    padding: 5PX 10PX;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: rgb(5, 139, 0);
}

.show{
    margin-top: 10px;
    font-size: 15px;
}