.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}
.pointer{
  position: absolute;
  background-color: rgb(237, 195, 129);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: -15px;
  top: -15px;
  pointer-events: none
}
button {
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  background-color:rgb(203, 239, 252)
}